# Arc
ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.io
# Circle (KeeperHub integration + laptop provisioner only)
CIRCLE_API_KEY=
CIRCLE_ENTITY_SECRET=
CIRCLE_ENV=sandbox
# Bridge
BUTLER_BRIDGE_SECRET=
KEEPERHUB_DISPATCH_WEBHOOK=
KEEPERHUB_M2M_WEBHOOK=
KEEPERHUB_SETTLE_WEBHOOK=
# peaqOS plugin
PEAQOS_MCR_URL=https://mcr.peaq.xyz
PEAQOS_VERIFY_API_URL=https://verify.peaq.xyz
PEAQOS_RPC_URL=https://quicknode1.peaq.xyz
